$root: '.promo';

#{$root} {
  background-color: #073042;
  padding: 75px 70px 50px 70px;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 190px;
    padding-bottom: 84px;
  }

  &__title-description {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
    padding-bottom: 36px;
  }

  &__description {
    margin: 0;
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    width: 310px;
  }

  &__button {
    color: #fff;
    width: 129px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background: none;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 3px;
    text-decoration: none;
  }

  &__button:hover {
    opacity: .8;
  }
}

@media screen and (max-width: 768px) {
  #{$root} {

    padding: 140px 30px 66px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      margin: auto;
      flex-direction: column-reverse;
      gap: 48px;
      align-items: center;
    }

    &__logo {
      width: 310px;
      height: 304px;
    }

    &__title {
      text-align: center;
      font-size: 40px;
      line-height: 50px;
      padding-bottom: 22px;
    }

    &__description {
      width: 260px;
      margin: auto;
      text-align: center;
    }

    &__button {
      width: 89px;
    }
  }
}

@media screen and (max-width: 320px) {
  #{$root} {
    
  }
}