$root: '.about-me';

#{$root} {
  padding: 110px 70px 101px 70px;

  &__title {
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #dadada;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
    gap: 270px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0;
  }

  &__photo {
    object-fit: cover;
  }

  &__speciality {
    padding-top: 18px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }

  &__text {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 26px;
  }

  &__link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding-top: 99px;
    text-decoration: none;
    cursor: pointer;
    width: min-content;
  }

  &__link:hover {
    border-bottom: 1px solid #fff;
  }

  &__photo {
    height: 327px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  #{$root} {
    padding: 90px 50px;

    &__info {
      gap: 49px;
    }

    &__photo {
      width: 255px;
      height: 307px;
      object-fit: cover;
    }

    &__name {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.6px;
    }

    &__speciality {
      padding-top: 16px;
      font-size: 12px;
      line-height: 28px;
      margin: 0;
    }

    &__text {
      font-size: 12px;
      line-height: 18px;
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 320px) {
  #{$root} {
    
  }
}
